@{
    ViewData["Title"] = "Home Page";
}


<main>
    <section>
        <h2>@ViewBag.Message</h2>
        <h2 style="padding:60px;">Efsane Oyun</h2>
        <div class="games-list">
           
        </div>
    </section>
</main>
